<p id="notice"><%= notice %></p>
 
<p>
  <b class = "title">Name:</b>
  <%= @post.name %>
</p>
 
<p>
  <b class = "title">Title:</b>
  <%= @post.title %>
</p>
 
<p>
  <b class = "title">Content:</b>
  <%= @post.content %>
</p>
 <hr>
<h2 class = "title">Comments</h2>
<%= render @post.comments %>
 
<h2 class = "title">Add a comment:</h2>
<%= render "comments/form" %>
 
<br />
 
<%= link_to 'Edit Post', edit_post_path(@post) %> |
<%= link_to 'Back to Posts', posts_path %> |